body {
	text-align: center;
}

#camera-denied {
  display: none;
}

.title {
	font-family: 'Press Start 2P', cursive;
	font-size: 75px;
}

.container {
	width: 600px;
	margin: auto;
}

#video-container {
	position: relative;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
}

video {
	width: 100%;
	transform: rotateY(180deg);
}

.instructions {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
}

@media (max-width: 600px){
 .container {
    width: 90%;
}
}
